<launch> 
<!-- SIMULATOR INITIALIZATION --> 
<node name = "simulator_node" pkg = "situation_simulator" type = "simulator_node" output = "screen"/>
<node name = "action_result_server" pkg = "situation_simulator" type = "action_result_server" output = "screen" args = "None"/>
<!-- AGENTS INITIALIZATION -->
<node name = "G1" pkg = "trusting_agents" type = "generic_trusting_agent" output = "screen" 
	 args ="G1 G1 Ev1>Act1>G1;1.00;1.00;1.00#Ev2:SERIAL>Act2|Act3>G1;1.00;1.00;1.00|G1;1.00;1.00;1.00 None Individualism|Optimist None" />

<node name = "G2" pkg = "trusting_agents" type = "generic_trusting_agent" output = "screen" 
	 args ="G2 G2 Ev1>Act1>G2;1.00;1.00;1.00#Ev2:SERIAL>Act2|Act3>G2;1.00;1.00;1.00|G2;1.00;1.00;1.00 None Collectivism|Optimist None" />

<node name = "G3" pkg = "trusting_agents" type = "generic_trusting_agent" output = "screen" 
	 args ="G3 G3 Ev1>Act1>G3;1.00;1.00;1.00#Ev2:SERIAL>Act2|Act3>G3;1.00;1.00;1.00|G3;1.00;1.00;1.00 None Collectivism|Optimist None" />

<node name = "G4" pkg = "trusting_agents" type = "generic_trusting_agent" output = "screen" 
	 args ="G4 G4 Ev1>Act1>G4;1.00;1.00;1.00#Ev2:SERIAL>Act2|Act3>G4;1.00;1.00;1.00|G4;1.00;1.00;1.00 None Collectivism|Optimist None" />

<node name = "G5" pkg = "trusting_agents" type = "generic_trusting_agent" output = "screen" 
	 args ="G5 G5 Ev1>Act1>G5;1.00;1.00;1.00#Ev2:SERIAL>Act2|Act3>G5;1.00;1.00;1.00|G5;1.00;1.00;1.00 None Collectivism|Optimist None" />



</launch>